/** @format */

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0e6d2; /* Sand-like background */
}

#game-container {
  text-align: center;
  font-family: "Arial", sans-serif;
}

#menu {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #d4a373; /* Button color */
  color: #fff;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b08968; /* Hover color */
}

#canvas-container {
  border: 2px solid #8c6849; /* Frame color around the canvas */
  background-color: #fff;
  width: 600px;
  height: 750px;
}

#canvas-container canvas {
  display: block;
  margin: 0 auto;
}
